$white: #FFF;
$gray: darken($white, 18);
$moreGray: darken($white, 80);
$black: darken($white, 100);
$bg_dir: '../img/bg/';
html {
  height: 100%;
}
body {
  margin: 0;
  font: 14px/18px 'Open Sans', Arial, Tahoma, sans-serif;
  text-rendering: optimizeLegibility;
  text-align: center;
  padding: 0;
  height: 100%;
  display: table;
  width: 100%;
}
h1,
h2,
h3,
h4 {
  line-height: normal;
  margin: 0;
}
.novisible {
  opacity: 0;
}
.visible {
  opacity: 1;
}
#preload-box {
  height: 100%;
  width: 100%;
  background-color: $black;
  display: table;
  position: absolute;
  z-index: 99;
  i {
    display: table-cell;
    vertical-align: middle;
    color: $white;
    font-size: 4em;
  }
}
h1 {
  color: $white;
  font-weight: 700;
  font-size: 6.1em;
  line-height: 1em;
  font-family: "Montserrat";
}
h2 {
  padding: 0;
  font: 300 22px/34px 'Open Sans';
  color: $gray;
}
.wrapper {
  .zone {
    color: $gray;
  }
}
a.btn {
  border: 1px solid $gray;
  padding: 10px 80px;
  display: inline-block;
  margin-bottom: 30px;
  background: rgba(0, 0, 0, .5);
  font: normal 300 20px 'Open Sans';
  text-decoration: none;
  transition: background .2s ease-out .1s;
  border-radius: 4px;
  &:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, .7);
  }
  i.fa {
    color: $gray;
    font-size: 1.2em;
  }
}
.scrollDown {
  position: absolute;
  bottom: .3em;
  color: $gray;
  opacity: .8;
  font-size: 1.5em;
  left: 0;
  right: 0;
  z-index: 1;
  display: none;
}
.section{
  background-repeat: no-repeat;
  background-size: cover;
  &.black {
    h2 {
      color: $white;
      opacity: 0.8
    }
    p {
      color: $gray;
    }
    i {
      color: $gray;
      font-size: 2em;
    }
  }
  &.white {
    h2 {
      color: $black;
    }
    p {
      color: $moreGray;
      margin-top: 0.5em;
    }
    i {
      color: $moreGray;
      font-size: 2em;
    }
  }
  @for $i from 0 through 3 {
    &#section#{$i} {
      background-image: url($bg_dir + 'bg' + $i + '.jpg');
    }
  }
}
.project-logo {
  width: 40%;
  max-width: 420px;
}
#menu {
  position: fixed;
  top: 0;
  z-index: 1;
  padding: 1em 0;
  margin: 0;
  width: 100%;
  text-align: right;
  background-color: rgba(0, 0, 0, .7);
  li {
    display: inline-block;
    margin: 0 1em;
    a {
      color: #777;
      text-decoration: none;
      text-transform: uppercase;
      transition: color .1s ease-out .05s;
    }
    &.active a {
      color: $white;
    }
  }
}
#aboutPage {
  display: inline-block;
  padding: 1em;
  margin: 1em;
}
#links {
  padding: 0;
  li {
    list-style-type: none;
    display: inline-block;
    margin: 1em;
    i {
      color: $moreGray;
      font-size: 2em;
      transition: color .2s ease-out .1s;
      opacity: .7;
    }
    &:hover i {
      color: $black;
    }
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 5.35em;
  }
  #menu li a {
    font: 11px/18px Arial, Tahoma, sans-serif;
  }
  .fp-controlArrow {
    margin-top: -28px !important;
    &.fp-prev {
      border-width: 28.5px 24px 28.5px 0 !important;
    }
    &.fp-next {
      border-width: 28.5px 0 28.5px 24px !important;
    }
  }
}
@media (max-width: 480px) {
  h3 {
    font-size: 1.1em;
  }
  #aboutPage {
    margin: 0;
  }
  p {
    font-size: .9em;
  }
  .fp-controlArrow {
    margin-top: -13px !important;
    &.fp-prev {
      border-width: 13.5px 9px 13.5px 0 !important;
    }
    &.fp-next {
      border-width: 13.5px 0 13.5px 9px !important;
    }
  }
}
